
/* SMARTPHONE SMALL*/
@media  screen and (min-width: 500px) {
    #container-sx{
        width: 200px;
    }

    #container-dx{
        width: calc(100% - 200px);
    }

    #container-sx .img-logo{
        display: block;
        margin-bottom: 1rem;
    }

    #container-sx .img-logo-small{
        display: none;
    }

    #container-sx .img-logo-10{
        width: 10%;
    }

    .display-inline-block span{
        display: inline;
        color: rgb(144, 144, 144);
    }

    .display-inline-block span:hover{
        color: rgb(255, 255, 255);
    }

    .container-sx-playlist{
        display: block;
        color: rgb(144, 144, 144);
        padding-top: 1rem;
        line-height: 1.5rem;
    }

    .container-sx-playlist li:hover{
        color: rgb(255, 255, 255);
    }

    .container-sx-playlist li:hover i{
        background-color: rgb(255, 255, 255);
    }

    .container-sx-profile hr{
        display: block;
        margin: 0.75rem 0;
    }

    .download{
        margin-left: 0;
        padding-right: 0.2rem;
    }
}



/* TABLET */
@media screen and (min-width: 600px) {
    
}



/* MONITOR LARGE */
@media screen and (min-width: 1080px) {
    
}


@media screen and (max-height: 600px) {


}