
/* SMARTPHONE SMALL*/
@media  screen and (min-width: 500px) {
    #container-sx{
        width: 200px;
    }

    #container-dx{
        width: calc(100% - 200px);
    }

    #container-sx .img-logo{
        display: block;
        margin-bottom: 1rem;
    }

    #container-sx .img-logo-small{
        display: none;
    }

    #container-sx .img-logo-10{
        width: 10%;
    }

    .display-inline-block span{
        display: inline;
        color: rgb(144, 144, 144);
    }

    .display-inline-block span:hover{
        color: rgb(255, 255, 255);
    }

    .container-sx-playlist{
        display: block;
        color: rgb(144, 144, 144);
        padding-top: 1rem;
        line-height: 1.5rem;
    }

    .container-sx-playlist li:hover{
        color: rgb(255, 255, 255);
    }

    .container-sx-playlist li:hover i{
        background-color: rgb(255, 255, 255);
    }

    .container-sx-profile hr{
        display: block;
        margin: 0.75rem 0;
    }

    .download{
        margin-left: 0;
        padding-right: 0.2rem;
    }

    /* CONTAINER DOWN*/
    .down-left, .down-right{
        display: flex;
    }

    .down-center{
        width: 50%;
    }

    /* CONTAINER DX */
    .upgrade{
        position: fixed;
        top: 0;
        width: calc(100% - 200px);
        background-color: rgba(0,0,0,0.5);
        text-align: right;
        padding: 30px 20px 30px 0;
    }

    .menu-bar{
        padding-top: 5rem;
    }

    .menu-bar a{
        flex-basis:calc(100% / 3 - 2%);
        font-size: 10px;
    }

    .card{
        margin: 1rem auto;
    }
    
}



/* TABLET */
@media screen and (min-width: 600px) {
    .down-center{
        width: 45%;
    }
    
    .menu-bar a{
        flex-basis:calc(100% / 5 - 2%);
        font-size: 11px;
    }

    .card{
        flex-basis:calc(100% / 4 - 3%);
        margin: 1rem 0.32rem;
    }
    
    .john-card,
    .popular-card{
        flex-basis: calc(100% / 4 - 3%);
        margin: 1rem 0.3rem;
    }

    
}




/* MONITOR LARGE */
@media screen and (min-width: 1080px) {
    .down-center{
        width: 40%;
    }

    .menu-bar a{
        flex-basis:calc(100% / 6 - 2%);
        font-size: 12px;
    }

    .card{
        flex-basis:calc(100% / 6 - 3%);
    }

    .card{
        margin: 1rem auto;
    }
    
    .john-card,
    .popular-card{
        flex-basis: calc(100% / 6 - 3%);
        margin: 1rem 1rem;
    }

}


@media screen and (max-height: 600px) {
    .overflow{
        overflow: hidden;
    }
}

@media screen and (min-height: 330px){
    .overflow{
        overflow: scroll;
    }

}