*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

#main-container{
    width: 100%;
    height:calc(100vh - 80px);
}

#container-sx{
    width: 50px;
    height: 100%;
    padding: 0.75rem 0.75rem;
    background-color: rgb(38, 38, 38);
}

#container-dx{
    width: calc(100% - 50px);
    height: 100%;
    background-color: rgb(143, 167, 255);
    overflow: scroll;
}

#container-down{
    width: 100%;
    height: 80px;
    background-color: rgb(55, 54, 54);
    position: fixed;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}
/* 
.align-start{
    align-items: start;
} */

.justify-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.column{
    flex-direction: column;
}



.wrap{
    flex-wrap: wrap;
}

/* CONTAINER-SX */
#container-sx .img-logo{
    display: none;
}

.display-inline-block img{
    display: inline-block;
    vertical-align: middle;
}

.display-inline-block span{
    display: none;
}

#container-sx .img-logo-small{
    margin-bottom: 0.5rem;
}

#container-sx .display-inline-block{
    margin-bottom: 0.5rem;
}

.container-sx-menu .display-inline-block:first-child{
    border-left: 2px solid greenyellow;
}

.container-sx-playlist{
    display: none;
}

.container-sx-playlist span{
    color: white;
    text-transform: uppercase;
}

.container-sx-playlist i{
    color: black;
    background-color: rgb(144, 144, 144);
    font-size: 1.50rem;
    padding: 0.5rem;
    margin: 0.75rem;
    margin-left: 0;
}

.profile{
    background-color: rgb(144, 144, 144);
    border-radius: 50%;
}

.container-sx-profile .display-inline-block:nth-child(3) span{
    text-transform: uppercase;
    color: white;
}

.download{
    margin-left: 0.2rem;
}

.container-sx-profile hr{
    display: none;
}

.container-sx-profile{
    justify-content: flex-end;
}


/* CONTAINER DOWN */
.down-left{
    height: 100%;
    display: none;
}

.down-left img{
    height: 50%;
    margin: 0.4rem;
}

.down-left-info span{
    display: block;
    color: rgb(144, 144, 144);
    font-size: 12px;
}

.down-left-info span:first-child{
    color: white;
    text-transform: uppercase;
}

.down-left i,
.down-right > i{
    color: rgb(144, 144, 144);
    margin: 0 .3rem;
}

.fa-circle{
    color: white;
    display: none;
}

.down-left i:hover{
    color: white;
}

.down-left-icons{
    padding: 0 1rem;
}

.down-center{
    width: 60%;
    margin: 0 auto;
}

.down-center i, span{
    color: white;
}

.container-down-center-time{
    width: 100%;
    margin: 0 auto;
}

.down-right{
    width: 20%;
    display: none;
}

.container-down-center-time > div{
    height: 0.4rem;
    background-color: rgb(144, 144, 144);
    width: 90%;
    margin: 0 1rem;
    border-radius: 5px;
}

.line-white{
    height: 0.4rem;
    background-color: white;
    width: 25%;
    /* margin: 0 1rem; */
    border-radius: 5px;
}


.line-white:hover{
    background-color: greenyellow;
}

.line-white:hover .fa-circle{
    display: flex;
}



.container-down-center-time span{
    font-size: 12px;
}

.down-center-media{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.down-center-media .fa-circle-play{ 
    font-size: 30px;
}

.down-right > div{
    height: 0.4rem;
    background-color: rgb(144, 144, 144);
    width: 90%;
    margin: 0 1rem;
    border-radius: 5px;
}

/* CONTAINER DX */
.upgrade{
    position: fixed;
    top: 0;
    width: calc(100% - 50px);
    background-color: rgba(0,0,0,0.5);
    text-align: right;
    padding: 20px 20px 20px 0;
}

.bt-white{
    color: white;
    border: 1px solid white;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 10px;
}

.menu-bar{
    width: 90%;
    margin: 0 auto;
    padding-top: 3.2rem;
    padding-bottom: 2rem;
}

.menu-bar a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 9px;
    flex-basis: calc(100% / 4);
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}

.menu-bar a:hover{
    color: white;
}

.container-dx-recent,
.container-john,
.container-popular{
    width: 90%;
    margin: 0 auto;
}

h3{
    color: white;
    padding-top: 1rem;
}

.card{
    flex-basis:calc(100% / 2 - 3%);
    text-align: center;
    margin-top: 1rem;
    margin: 1rem auto;
}


h5{
    color: white;
    margin-top: 0.5rem;
    text-align: center;
}

.card span,
.container-john span,
.container-popular span{
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.john-card,
.popular-card{
    flex-basis: calc(100% / 2 - 3%);
    margin: 1rem auto;
}


.popular-card img{
    border-radius: 50%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.container-dx-recent .card .relative i{
    font-size: 40px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.container-dx-recent .relative:hover img{
    opacity: 0.3;
}


.container-dx-recent .relative:hover i{
    display: block;
}